<footer class="footer">
    <div class="container footer-wrap">
        <div class="footer-wrap-left">
            <div class="footer-wrap-logo">
                <picture>
                    <source srcset="./images/footer/footer.png 1x, ./images/footer/footer@2x.png 2x " media="(min-width:768px px)">
                    <source srcset="./images/footer/mob-footer.png 1x, ./images/footer/mob-footer@2x.png 2x"
                        media="(min-width:320px)">
                        <img src="./images/footer/footer.png" alt="broccoli" width="335">
                </picture>
                <a href="" class="footer-logo-link link">
                    <svg class="footer-logo-icon" width="16" height="16">
                        <use href="./images/icons.svg#logo"></use>
                    </svg>
                    Veggieboost
                </a>
            </div>
            <div class="footer-wrap-nav">
                <ul class="navigation-list">
                    <li class="navigation-item">
                        <a href="./how-it-works-1.html" class="navigation-link link">How It Works</a>
                    </li>
                    <li class="">
                        <a href="./vegetables.html" class="navigation-link link">Vegetables</a>
                    </li>
                    <li class="navigation-item">
                        <a href="#" class="navigation-link link">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-wrap-contact">
            <ul class="footer-media-list list">
                <li class="footer-media-item">
                    <a href="" class="footer-media-link link">
                        <svg class="footer-media-icon">
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-media-item">
                    <a href="" class="footer-media-link link">
                        <svg class="footer-media-icon">
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-media-item">
                    <a href="" class="footer-media-link link">
                        <svg class="footer-media-icon">
                            <use href="./images/icons.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <address class="footer-address">
                <a href="tel:+380684439426" class="footer-tel-link link">+380 (68) 443-94-26</a>
                <p class="footer-address-text">1678 S. Pioneer Road<br/> Salt Lake City<br/> UT 84104</p>
            </address>
        </div>
    </div>
</footer>
