<header class="header">
  <div class="container header-container">
    <nav class="nav-container">
      <ul class="list list-container">
        <li>
          <a class="link header-nav" href="#how-it-works">How It Works</a>
        </li>
        <li>
          <a class="link header-nav" href="#vegetables">Vegetables</a>
        </li>
        <li><a class="link header-nav" href="#contacts">Contacts</a></li>
      </ul>
      <a href="./index.html" class="logo link">
        <svg class="logo-icon" width="16" height="16">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        veggieboost</a>
    </nav>

    <!-- ===================menu-button=========== -->
    <div class="menu">
      <!-- <button type="button" class="menu-open-btn js-open-menu ">
        <svg class="menu-icon menu__open js-btn-hide js-hide-on" width="24" height="24">
          <use href="./images/icons.svg#mob-menu"></use>
        </svg>
        <svg class="js-hide-off icon-close-black menu__close js-close-menu" width="24" height="24">
          <use class="" href="./images/icons.svg#close"></use>
        </svg>
      </button> -->
      <button type="submit" class="menu-open-btn borger-btn flex js-open-menu js-hide-on js-hide-off js-close-menu">
        <svg class="burger-svg" width="24" height="24">
          <use class=" js-btn-hide" href="./images/icons.svg#icon-gg_menu-left"></use>
          <use class="js-btn-hide " href="./images/icons.svg#icon-x"></use>
        </svg>
      </button>
      <!-- =============modal-button=========== -->
      <button type="button" class="modal-open-btn" data-modal-open>
        <svg class="modal-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-shopping-cart-converted"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- =======mobile menu======= -->
  <div class="mob-menu is-open js-menu-container">
    <div>
      <ul class="list mob-list-container">
        <li>
          <a class="link mob-header-nav mob-active" href="#how-it-works">How It Works</a>
        </li>
        <li>
          <a class="link mob-header-nav" href="#vegetables">Vegetables</a>
        </li>
        <li>
          <a class="link mob-header-nav" href="#contacts">Contacts</a>
        </li>
        <li>
          <button type="button" class="mod-open-btn" data-modal-open>
            <svg class="modal-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-shopping-cart-converted"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>