<section class="hero">
  <div class="container">
    <div class="hero__main">
      <ul class="hero__review-list">
        <li class="hero__review-item">
          <picture>
            <source
              srcset="
                ./images/hero/desktop/review.png    1x,
                ./images/hero/desktop/review@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/tablet/review.png    1x,
                ./images/hero/tablet/review@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/mobile/review.png    1x,
                ./images/hero/mobile/review@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img src="./images/hero/mobile/review.png" alt="Girl" />
          </picture>
        </li>
        <li class="hero__review-item">
          <picture>
            <source
              srcset="
                ./images/hero/desktop/review_2.png    1x,
                ./images/hero/desktop/review_2@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/tablet/review_2.png    1x,
                ./images/hero/tablet/review_2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/mobile/review_2.png    1x,
                ./images/hero/mobile/review_2@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img src="./images/hero/mobile/review_2.png" alt="Man" />
          </picture>
        </li>
        <li class="hero__review-item">
          <picture>
            <source
              srcset="
                ./images/hero/desktop/review_3.png    1x,
                ./images/hero/desktop/review_3@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero/tablet/review_3.png    1x,
                ./images/hero/tablet/review_3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/mobile/review_3.png    1x,
                ./images/hero/mobile/review_3@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img src="./images/hero/mobile/review_3.png" alt="Girl" />
          </picture>
        </li>
        <li class="hero__review-item">
          <span class="hero__review-count">2k</span>
          <span class="hero__review-descr">reviews</span>
        </li>
      </ul>
      <h1 class="hero__header">
        organic <span>vegetables</span> to your diet today!
      </h1>
      <p class="hero__descr">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button type="button" class="hero__btn" data-modal-open>shop now</button>
    </div>
    <div class="hero__image">
      <picture>
        <source
          srcset="
            ./images/hero/desktop/girl.png    1x,
            ./images/hero/desktop/girl@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero/tablet/girl.png    1x,
            ./images/hero/tablet/girl@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero/mobile/girl.png    1x,
            ./images/hero/mobile/girl@2x.png 2x
          "
          media="(min-width: 375px)"
        />
        <img
          class="hero__image-main"
          src="./images/hero/mobile/girl.png"
          alt="Girl with vegetable"
        />
      </picture>
      <ul class="hero__buttons-list">
        <li class="hero__buttons-item">
          <button type="button" class="hero__btn-category hero__btn-active">
            #organic
          </button>
        </li>
        <li class="hero__buttons-item">
          <button type="button" class="hero__btn-category">#products</button>
        </li>
        <li class="hero__buttons-item">
          <button type="button" class="hero__btn-category">#basket</button>
        </li>
        <li class="hero__buttons-item">
          <button type="button" class="hero__btn-category">#vegetables</button>
        </li>
      </ul>
    </div>
  </div>
</section>
