<section class="steps">
    <div class="steps-container container">
        <div class="steps-wrap">
            <h2 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h2>
            <ol class="steps-list">
                <li class="steps-item">
                    <p class="steps-number">1</p>
                    <p class="steps-text">Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
                </li>
                <li class="steps-item">
                    <p class="steps-number">2</p>
                    <p class="steps-text">Click on the basket and fill out the form.</p>
                </li>
                <li class="steps-item">
                    <p class="steps-number">3</p>
                    <p class="steps-text">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
                </li>
            </ol>
        </div>
        <picture class="steps-picture">
            <source srcset="./images/how-it-works/desktop/girl.png 1x, ./images/how-it-works/desktop/girl@2x.png 2x " media="(min-width:1200px)">
            <source srcset="./images/how-it-works/tablet/girl.png 1x, ./images/how-it-works/tablet/girl@2x.png 2x " media="(min-width:768px)">
            <source srcset="./images/how-it-works/mobile/girl.png 1x, ./images/how-it-works/mobile/girl@2x.png 2x" media="(min-width:375px)">
            <img class="steps-img pic" src="./images/how-it-works/mobile/girl.png" alt="Little girl with salad">        
        </picture>
        
    </div>
</section>

