
<section class = "how-it-works-section">
    <div class = "container howitworks-div">
    <h2 class = "howitworks-title">To order your vegetable basket, simply follow these easy steps</h2>
    <div class = "howitworks-picture">
        <picture>
            <source
            srcset="
                ./images/how-it-works/desktop/broccoli.png 1x,
                ./images/how-it-works/desktop/broccoli@2x.png 2x
            "
            media="(min-width: 1280px)"
            />
            <source
            srcset="
                ./images/how-it-works/tablet/broccoli.png 1x,
                ./images/how-it-works/tablet/broccoli@2x.png 2x
            "
            media="(min-width: 768px)"
            />
            <source
            srcset="
                ./images/how-it-works/mobile/broccoli.png 1x,
                ./images/how-it-works/mobile/broccoli@2x.png 2x
            "
            media="(min-width: 375px)"
            />
            <img
            class="howitworks-images"
            src="../images/how-it-works/mobile/broccoli.png"
            alt="Picture broccoli"
            />
      </picture>
    </div>
    <div class = "howitworks-p">
        <ul class = "ul-howitworks">
        <li class = "howitworks-first">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</li>
        <li class = "howitworks-second">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</li>
        </ul>
    </div>
</div>
</section>