.footer {
    display: block;
    width: 100%;
    padding: 80px 0;
    background-color: var(--lime-color);
}
.link {
    text-decoration: none;
}

.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 40px;
}
.footer-wrap-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}
/* Логотип */
.footer-wrap-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-logo-link {
    display: flex;
    align-items: center;
    margin-top: 20px;

    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.56px;
    
    text-transform: uppercase;
}
.footer-logo-icon {
    display: block;
    margin-right: 8px;
    fill: var(--text-color);
}

/* Навигация/ссылки на секции */

.navigation-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation-link {
    display: inline-block;
    color: var(--text-color);

    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.56px;

    transition: color var(--transition);
}

/* .navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
    color: var(--habanero-color);
} */


/* Иконки соц.сетей */
.footer-wrap-contact {
    display: block;
}

.footer-media-list {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 40px;
}

.footer-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 40px;
    height: 40px;
    
    color: var(--text-color);
    
    border-radius: 10px;
    border: 1px solid #141414;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    transition: border-color var(--transition),
            color var(--transition);
}

/* .footer-media-link:hover,
.footer-media-link:focus {
    border-color: var(--picnic-color);
    color: var(--picnic-color);
} */
.footer-media-icon {
    width: 24px;
    height: 24px;

    fill: currentColor;
}

/* Контакты */
.footer-wrap-contact {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

/* Телефонный номер */
.footer-tel-link {
    display: block;
    margin-bottom: 20px;
    color: var(--text-color);

    text-align: center;
    font-style: normal;
    font-size: 14px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 1.2;
}
/* Адрес */
.footer-address-text {
    text-align: center;
    font-style: normal;
    font-size: 14px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.28px;
}

@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 768px) {
    .footer {
        display: block;
    }
    .footer-wrap {
        display: flex;
        gap: 177px;
    }
    .footer-wrap-left {
        display: flex;
        flex-direction: column;
    }
    .footer-wrap-nav {
        display: flex;
    }
    .footer-media-link {
        width: 44px;
        height: 44px;
    }
    .footer-media-icon {
        width: 28px;
        height: 28px;
    }
    /* Контакты */
    .footer-wrap-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        }
    
    /* Телефон */
    .footer-tel-link {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
    }
    /* Адрес */
    .footer-address-text {
        text-align: start;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: -0.36px;
    }
}

@media screen and (min-width: 1280px) {    
    .footer-wrap {
        display: flex;
    }
    .footer-wrap-left {
        display: flex;
        flex-direction: row;
        gap: 166px;
    }

    .navigation-link:hover,
    .navigation-link:focus,
    .navigation-link:active {
        color: var(--habanero-color);
    }
    .footer-media-link:hover,
    .footer-media-link:focus {
        border-color: var(--picnic-color);
        color: var(--picnic-color);
    }
}