.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background: rgba(234, 247, 229, 0.4);
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform var(--transition);

    height: 100%;
    max-height: 903px;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
  
    background-color: var(--white-text-color);
    box-shadow: 0px 0px 8.78px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.24px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.03px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.6px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    }

    @media screen and (min-width: 335px) {
      .modal {
      width: 335px;
      }
    }

    @media screen and (min-width: 768px) {
      .modal {
      width: 704px;
      padding: 40px;
      height: 100%;
      max-height: 853px;
      }
  }

    @media screen and (min-width: 1280px) {
      .modal {
      width: 891px;
      height: 100%;
    max-height: 911px;
      }
    }

    .close-modal-button {
      position: absolute;
      top: 22px;
      right: 20px;
    
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0;
    
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
    
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      .close-modal-button {
        top: 20px;
        right: 20px;
      }
    }

    .close-modal-icon {
      stroke: var(--text-color);
      transition: stroke var(--transition);
    }

    .close-modal-button:hover .close-modal-icon,
.close-modal-button:focus .close-modal-icon {
  stroke: var(--picnic-color);
}


.modal-title {
margin-bottom: 40px;

color: var(--text-color);
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 28px;
font-weight: 500;
line-height: 1;
letter-spacing: -1.12px;
text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }
}

.card-wrapper {
  width: 100%;
  height: 100%;
}

.product-item {
  position: relative;

    padding: 20px;
    height: 119px;
    max-width: 295px;

    background-repeat: no-repeat;
    background-size: 94px 78px;
    background-position: right 30px bottom 8px;

    background-color: var(--milk-mustache-color);
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .product-item {
    padding: 40px 20px;  
    height: 250px;
    width: calc((100% - 24px) / 3);

    background-size: 172px 142px;
    background-position: right 14px bottom 14px;
  }
}

@media screen and (min-width: 1280px) {
  .product-item {
    height: 308px;
    width: calc((100% - 40px) / 3);

    background-size: 243px 200px;
    background-position: right 7px bottom 14px;
  }
}

.cabbage-item {
  background-image: url('../images/modal/mobile/cabbage.png');
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .cabbage-item {
    background-image: url('../images/modal/mobile/cabbage@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .cabbage-item {
    background-image: url('../images/modal/tablet/cabbage.png');
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .cabbage-item {
    background-image: url('../images/modal/tablet/cabbage@2x.png');
  }
}
}

@media screen and (min-width: 1280px) {
    .cabbage-item {
      background-image: url('../images/modal/desktop/cabbage.png');
    }
  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .cabbage-item {
      background-image: url('../images/modal/desktop/cabbage@2x.png');
    }
  }
  }

.tomato-item {
    background-image: url('../images/modal/mobile/tomato.png');
  }
  
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .tomato-item {
      background-image: url('../images/modal/mobile/tomato@2x.png');
    }
  }
  
  @media screen and (min-width: 768px) {
    .tomato-item {
      background-image: url('../images/modal/tablet/tomato.png');
    }
  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .tomato-item {
      background-image: url('../images/modal/tablet/tomato@2x.png');
    }
  }
  }
  
  @media screen and (min-width: 1280px) {
      .tomato-item {
        background-image: url('../images/modal/desktop/tomato.png');
      }
    
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .tomato-item {
        background-image: url('../images/modal/desktop/tomato@2x.png');
      }
    }
    }

    .vegetables-item {
        background-image: url('../images/modal/mobile/vegetables.png');
      }
      
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          .vegetables-item {
          background-image: url('../images/modal/mobile/vegetables@2x.png');
        }
      }
      
      @media screen and (min-width: 768px) {
        .vegetables-item {
          background-image: url('../images/modal/tablet/vegetables.png');
        }
      
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          .vegetables-item {
          background-image: url('../images/modal/tablet/vegetables@2x.png');
        }
      }
      }
      
      @media screen and (min-width: 1280px) {
          .vegetables-item {
            background-image: url('../images/modal/desktop/vegetables.png');
          }
        
          @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            .vegetables-item {
            background-image: url('../images/modal/desktop/vegetables@2x.png');
          }
        }
        }

@media screen and (max-width: 767px) {
.product-item:not(:last-child) {
    margin-bottom: 12px;
}
}

.product-list {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    gap: 12px;
}
}

.card-title {
  color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 1.33;
letter-spacing: -0.72px;
margin-bottom: 2px;
}

@media screen and (min-width: 1280px) {
  .card-title {
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.96px;
  }
}

.card-text {
  color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.28px;
}

.checkbox-custom-field {
  position: absolute;
  top: 14px;
  right: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  border-radius: 4px;
border: 1.5px solid var(--picnic-color);
cursor: pointer;

background-color: transparent;
}

@media screen and (min-width: 768px) {
  .checkbox-custom-field {
    width: 20px;
    height: 20px;
  }
}

.checkbox-icon {
  width: 6px;
    height: 6px;
  fill: transparent;
  transition: fill var(--transition); 
}

@media screen and (min-width: 768px) {
  .checkbox-icon {
    width: 8px;
    height: 8px;
  }
}

.checkbox:checked + .checkbox-custom-field > .checkbox-icon {
  fill: var(--picnic-color);
}

.checkbox:focus-visible + .checkbox-custom-field {
  outline: 2px solid var(--habanero-color);
}

.input-field {
display: block;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 24px;
margin-bottom: 14px;

width: 100%;
height: 46px;

color: rgba(20, 20, 20, 0.80);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;

border-radius: 100px;
border: 1px solid rgba(20, 20, 20, 0.30);
outline: transparent;
transition: border-color var(--transition);
}

@media screen and (min-width: 768px) {
  .input-field {
    padding-top: 15px;
    padding-bottom: 15px;

    width: 360px;
    height: 48px;
  }
}

.input-field:focus {
  border-color: var(--habanero-color);
}


.input-field::placeholder, .comment::placeholder {
  color: rgba(20, 20, 20, 0.50);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.comment {
  display: block;
  padding: 14px 24px;

    width: 100%;
    height: 132px;
  
    resize: none;
    border: 1px solid rgba(20, 20, 20, 0.30);
    border-radius: 20px;
    background-color: transparent;
    transition: border-color var(--transition);

    color: rgba(20, 20, 20, 0.80);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;

    outline: transparent;
  }

  @media screen and (min-width: 768px) {
    .comment {
      padding: 15px 24px;
  
      width: 360px;
      height: 145px;
    }
  }

  .comment:focus {
    border-color: var(--habanero-color);
  }

  .form {
    margin-bottom: 20px;
  }

  .submit-button {
    display: block;
    padding: 12px 24px;

    color: #FFF;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: capitalize;

    border: none;
    border-radius: 100px;
    background-color: var(--habanero-color);
    transition:  background-color var(--transition);
  }

  .submit-button:hover, .submit-button:focus {
    background-color: var(--picnic-color);
  }

  .modal-picture {
    display: none;
  }

  @media screen and (min-width: 768px) {
    .modal-picture {
      display: block;
      position: absolute;
      top: 450px;
      left: 414px;
    }
  }

  @media screen and (min-width: 1280px) {
  .modal-picture {
    position: absolute;
    top: 500px;
    left: 440px;
  }
}